@line-color: #444;

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.chart {
  height: 100%;
  position: relative;
  z-index: 1;
}

.chart_inner {
  position: relative;
  z-index: 3;
}

.x_axis {
  display: flex;
  color: #f2f2f2;
  justify-content: space-between;
  border-top: 1px solid @line-color;
}

.x_axis_item {
  font-size: 12px;
}

.split_lines {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  border-top: 1px solid @line-color;
  border-bottom: 1px solid @line-color;

  &::before {
    content: '';
    height: 1px;
    width: 100%;
    background: @line-color;
  }
}

.indicator_line {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  border-left: 1px dashed @line-color;

  &.indicator_line_hide {
    opacity: 0;
  }
}