.section {
  margin-bottom: 0;
}

.card_header {
  margin-bottom: 16px;
}

.card_title {
  font-size: var(--text-base);
  font-weight: var(--font-semibold);
  color: var(--text-color-primary);
}

.card_description {
  margin-top: 8px;
  font-size: var(--text-sm);
  line-height: 1.6;
  color: var(--text-color-secondary);
}