@import './antd/form.less';
@import './antd/pro-card.less';
@import './antd/pro-table.less';
@import './antd/pro-container.less';
@import './antd/dropdown.less';
@import './antd/tabs.less';

.gay-box,
.white-box {
  padding: 12px;
  border-radius: 6px;
  background: var(--gay-box-color);
}

.white-box {
  background: #fff;
}