@import './antd/form.less';
@import './antd/pro-card.less';
@import './antd/pro-table.less';
@import './antd/pro-container.less';
@import './antd/tabs.less';

.gay-box {
  padding: 12px;
  border-radius: 8px;
  background: var(--gay-box-color);
}