.box {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  :global {
    .ant-pro-card-body {
      flex: 1;
      height: auto;
      overflow-y: auto;
    }
  }
}

.tool_list {
  flex: 1;
  overflow-y: auto;
}