.ant-form {
  .ant-form-item {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #F3F4F6;
  }
}

.ant-pro-form-list-item {
  .ant-form-item {
    padding: 0;
  }
}

.ant-pro-form-list-container {
  width: 100%;
}

.ant-pro-form-list-action {
  height: auto;
}