.ant-form {
  .ant-form-item:not(.no-card) {
    padding: 12px;
    border-radius: 8px;
    background: rgba(247, 249, 250, 0.8);
  }

  .ant-form-item.no-card {
    margin-bottom: 24px;
  }

  .ant-pro-form-list-item {
    .ant-form-item:not(.no-card) {
      padding: 0;
    }
  }

  .ant-pro-form-list-container {
    width: 100%;
  }

  .ant-pro-form-list-action {
    height: auto;
  }
}