.card-style {
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid var(--border-color-primary);
}

.ant-pro-card {
  .card-style();

  .ant-pro-card-header {
    padding-inline: 16px;
  }

  .ant-pro-card-body {
    padding: 16px;
  }
}

.custom-pro-card-container {
  .card-style();
  padding: 16px;
  background: var(--bg-color-surface);
}