@import './styles/variables.less';

&::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

&::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 2px;
  background: var(--bg-color-secondary);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.6);
}

body {
  color: var(--text-color-primary);
  @import (less, multiple) './styles/custom.less';
}